@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
    font-family: 'Vollkorn', serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container div {
    position: relative;
    background-color: #5b5e6d;
    width: 40px;
    height: 2px;
    margin: 6px 0;
    right: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: #A6373F;
}
header .logo {
    position: relative;
    font-size: 3em;
    margin-left: 15px;
}

.nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav ul li {
    position: relative;
    list-style: none;
    margin: 0 15px;
    font-size: 2em;
   
} 

.nav {
    display: none;
} 

.banner {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/9c027d9379cb61aefa9c1d0957268ba2.jpg);
    background-size: cover;
}
.hello-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.stranger-name {

}


.hello-section p {
    text-align: center;
    font-size: 1.5em;
}

/* make the start button beautiful!!  */
.start-btn {
    position: relative;
    align-items: center;
    width: 160px;
    height: 60px;
    background: pink;
    transition: 0.5s;
    z-index: 1;
}
.start-btn:hover {
    color:red;
}

/* quiz section */
.banner-quiz {
     position: relative; 
/*     text-align: center; */
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/section1.jpg);
    background-size: cover;
}
.quiz {

    position: relative;
    display: flex;
    align-items: center;
}
 #question-container {
     position: absolute;
    top: 90%;
    left: 50%; 
    transform: translate(-50%, -50%);

    
}

.hide {
    display: none;
}

.active {
    background-color: red;
}
.banner-second-game {
    position: relative; 
    /*     text-align: center; */
        width: 100%;
        height: 100vh;
        background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/section1.jpg);
        background-size: cover;
}
.second-game {

    position: relative;
    display: flex;
    align-items: center;
}
/* for the content unside
     position: absolute;
    top: 90%;
    left: 50%; 
    transform: translate(-50%, -50%);

    
 */

@media screen and (min-width: 600px) {
    .container div {
        display: none;
    }
    .nav {
        display: block;
    } 
}



@media (min-width: 960px) {

}
