/* the main part
 */

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: 'Vollkorn', serif;
    margin: 0;
    padding: 0;
    font-size: 16px;

}

/* parent element of the page, greeting part */

.container div {
    position: relative;
    background-color: #5b5e6d;
    width: 40px;
    height: 2px;
    margin: 6px 0;
    right: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    background-color: #A6373F;
   
}
header .logo {
    position: relative;
    font-size: 3em;
    margin-left: 15px;
}

.nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* change pointer */
    cursor: pointer;
}



.nav ul a {
    position: relative;
    list-style: none;
    margin: 0 15px;
    font-size: 2em;
   
} 

.nav {
    display: none;
} 

/* greeting part started */







.banner {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/9c027d9379cb61aefa9c1d0957268ba2.jpg);
    background-size: cover;
}
.hello-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}




.hello-section p {
    text-align: center;
    font-size: 1.5em;
}


#stranger-name {
    padding-top: 10px;
    padding-bottom: 10px; 
    width: 150px;
    margin-bottom: 5px;
    text-align: center;
   
}

.name-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 156px;
    cursor: pointer;
}

.first-section p {
    background-color: #F4D0F9;
}


.btn {
    cursor: pointer;
}


/* footer */
footer {
    width: 100%;
    
}
.wrapper {
    background-color: #EB1EEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
}
.icons {
   
    text-decoration-style: none;
   
}
.icons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.icons ul li  {
    list-style: none;
    margin: 0 10px;
}
.icons ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.icons ul li .fa:hover {
    color: #ffffff;
}
.icons ul li a {
    position: relative; 
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      text-align: center; 
      transition: 0.5s;
      transform: translate(0,0px);
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }

/* footer */








.icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.icons ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.icons ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.icons ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.icons ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.icons ul li:nth-child(5) a:hover {
    background-color: #0077B5;
} 



/* <button class="start-btn" href="#quiz-scroll">START</button>
//in video <a href='#>Button</a>
 *//* make the start button beautiful!!  */
.start-btn {
    position: relative;
    align-items: center;
    width: 160px;
    height: 60px;
    background: #F4D0F9;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;
   /*  pretty button */
   text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient (transparent, #0004);

    
}

/* if you have time - finish pretty button https://www.youtube.com/watch?v=NWFsAMnpDXw&list=WL&index=15&t=0s */
/* .start-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(45deg,#fb0094, #00f, #EEE65E, #5EEE72, #E612EF  ); 
   background-size: 400%;
    opacity: 0;
  transition: 0.5s;


} 

.start-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#fb0094, #00f, #EEE65E, #5EEE72, #E612EF  ); 
   background-size: 400%;
   opacity: 0;
   filter: blur(20px);
   transition: 0.5s;
   
   

} 


.start-btn:hover span {
   color: white;
   
    
   
   
}
.start-btn span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #F4E7F4; 
   
}
.start-btn span {
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: black;
    color: grey;
    transition: 0.5s;
    z-index: 1;
} */


/* quiz section */
.banner-quiz {
     position: relative; 
/*     text-align: center; */
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/section1.jpg);
    background-size: cover;
}
.quiz {

    position: relative;
    display: flex;
    align-items: center;
}
 #question-container {
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    
}
#all-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* second game */
.second-game {

    position: relative;
    display: flex;
    align-items: center;
} 

.banner-second-game {
     position: relative;  
    /*     text-align: center; */
        width: 100%;
        height: 100vh;
        background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/section2.jpg);
        background-size: cover;
}


#second-game-content {
    position: absolute;
    top: 90%;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 5%;
    
}
/* .second-game {
    position: absolute; 
} */


.banner-finish-game {
     position: relative; 
    /*     text-align: center; */
        width: 100%;
        height: 100vh;
        background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(images/congrats.jpg);
        background-size: cover;
}



 .hide {
    display: none;
}

.active {
    background-color: #36CD18;
} 
/* below - hidden elements */
#score {
    font-size: 1.5em;
    margin-bottom: 40px;
}

#question {
    font-size: 2em;
    margin-bottom: 40px;
} 
#answer-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
   
}
.btn-answer {
   width: 100px;
   margin-right: 10px;
   font-size: 1.1em;
   cursor: pointer;
    
}

#congratulation {
    position: relative;
    margin-bottom: 20px;;
    font-size: 1.3em;
}

.next {
    width: 100px;
    padding: 10px;
}
#start-second-game {
    width: 200px;
    padding: 20px 0;
    font-size: 1.2em;
    margin-top: 30px;
    cursor: pointer;
}
/* 3rd section  */
.catch {
     position: relative;
    top: 50%;
    left: 40%;  
    width: 300px;
    padding: 20px 0;
    font-size: large;
    cursor: pointer;
}
#second-game-content {
/*     position: relative; */
    top: 15%; 
    left: 50%;
    font-size: 2em;
}


.first{
    position: relative; 
    left: 20%;
    top: 30%
}
.second{
    position: relative; 
    left: 20%;
    bottom: 40%;
}
.third{
    position: relative; 
    left: 60%;
    bottom: 60px;
}
/* congrats section */
.animation {
    position: relative;
}
.animation-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-align: center;
}




@media screen and (min-width: 600px) {
    .container div {
        display: none;
    }
    .nav {
        display: block;
    } 
}



@media (min-width: 960px) {

}
