/* the main part
 */

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Vollkorn", serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* parent element of the page, greeting part */
.container div {
  position: relative;
  background-color: #5b5e6d;
  width: 40px;
  height: 2px;
  margin: 6px 0;
  right: 20px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: #a6373f;
}
header .logo {
  position: relative;
  font-size: 3em;
  margin-left: 15px;
}
.nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav ul a {
  position: relative;
  list-style: none;
  margin: 0 15px;
  font-size: 2em;
  text-decoration: none;
  color: black;
}
.nav {
  display: none;
}
/* greeting part started */
.banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/9c027d9379cb61aefa9c1d0957268ba2.jpg);
  background-size: cover;
}
.hello-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hello-section p {
  text-align: center;
  font-size: 1.5em;
}
#stranger-name {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  margin-bottom: 5px;
  text-align: center;
}
.name-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 156px;
  cursor: pointer;
}
.first-section {
  margin-top: 80px;
}
.first-section p {
  background-color: #f4d0f9;
}
.btn {
  cursor: pointer;
}
/* footer */
footer {
  width: 100%;
}
.wrapper {
  background-color: #eb1eef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
}
.icons {
  text-decoration-style: none;
}
.icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.icons ul li {
  list-style: none;
  margin: 0 10px;
}
.icons ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.icons ul li .fa:hover {
  color: #ffffff;
}
.icons ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

/* footer  */
.icons ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.icons ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.icons ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.icons ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.icons ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.icons ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}

.start-btn {
  background: #f4d0f9;
  color: #fff;
  border: none;
  position: relative;
  height: 80px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.start-btn:hover {
  background: #fff;
  color: #29161b;
}
.start-btn:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f4d0f9;
  transition: 400ms ease all;
}
.start-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.start-btn:hover:before,
.start-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* quiz section */
.banner-quiz {
  position: relative;
  /*     text-align: center; */
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/section1.jpg);
  background-size: cover;
}
.quiz {
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
}
#question-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
#question-container > div > div {
  font-size: 1.4m;
}
#all-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* second game */
.second-game {
  position: relative;
  display: flex;
  align-items: center;
}
.banner-second-game {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/section2.jpg);
  background-size: cover;
}
#second-game-content {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5%;
}
.banner-finish-game {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/congrats.jpg);
  background-size: cover;
}
.hide {
  display: none;
}
.active {
  background-color: #36cd18;
}
/* below - hidden elements */
#score {
  font-size: 3em;
  margin-bottom: 40px;
}
#question {
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
}
#answer-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.next {
  position: relative;
  /* left: 38%; */
}

.btn-answer.disabled,
.next.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.btn-answer,
.next,
.btn-answer.disabled:hover,
.next.disabled:hover {
  width: 150px;
  padding: 10px 0;
  margin-right: 10px;
  font-size: 1.1em;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  border: 1px solid #25729a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #ffffff;
  background-color: #3093c7;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #a4aaad),
    color-stop(100%, #1c5a85)
  );
  background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(top, #3093c7, #1c5a85);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.btn-answer:hover,
.next:hover {
  border: 1px solid #1c5675;
  background-color: #26759e;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #26759e),
    color-stop(100%, #133d5b)
  );
  background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
  background-image: -moz-linear-gradient(top, #26759e, #133d5b);
  background-image: -ms-linear-gradient(top, #26759e, #133d5b);
  background-image: -o-linear-gradient(top, #26759e, #133d5b);
  background-image: linear-gradient(top, #26759e, #133d5b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

#congratulation {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#start-second-game {
  height: 60px;
  padding: 0 2em;
  background: #d02e58;
  color: #fff;
  border: none;
  position: relative;
  font-size: 1.6em;

  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
#start-second-game:hover {
  background: #fff;
  color: #d02e58;
}
#start-second-game:before,
#start-second-game:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f4d0f9;
  transition: 400ms ease all;
}
#start-second-game:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#start-second-game:hover:before,
#start-second-game:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper-game {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.catch {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: blue;
  border: 2px solid blue;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.catch:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.catch:hover {
  background-color: blue;
  color: #fff;
  border-bottom: 4px solid darken($color, 10%);
}
.catch:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

#second-game-content {
  top: 15%;
  left: 50%;
  font-size: 2em;
}

.first {
  position: relative;
  top: 40%;
}
.second {
  position: relative;
  top: 60%;
}
.third {
  position: relative;
  top: 80%;
}
/* congrats section */
.animation {
  position: relative;
}
.animation-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  text-align: center;
}

.layered-image {
  position: relative;
}
#congrats-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  text-align: center;
}

img {
  position: absolute;
  bottom: 30px;
  left: 30px;
  opacity: 0.8;
  animation: myslidein 10s, myrotate 1.75s;
  /*  animation-iteration-count: infinite;  */
  -webkit-animation: myslidein 10s forwards;
}

@keyframes myslidein {
  0% {
    bottom: 0;
    left: 0%;
  }
  25% {
    bottom: 50%;
    left: 25%;
  }

  50% {
    bottom: 65%;
    left: 45%;
  }
  75% {
    bottom: 50%;
    left: 75%;
  }

  100% {
    bottom: 3%;
    left: 85%;
  }
}

@media screen and (min-width: 600px) {
  .container div {
    display: none;
  }
  .nav {
    display: block;
  }
}

